<?php $this->layout('page'); ?>

<!-- 搜索 -->
<div class="search-panel" id="search-form">
    <form class="layui-form" lay-filter="search">
        <div class="layui-form-item">
            <label class="layui-form-label">用户</label>
            <div class="layui-input-block">
                <div id="user-select"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">抽奖活动</label>
            <div class="layui-input-block">
                <?=$this->build_select('round_id', $roundList, [], ['lay-search' => ''])?>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">是否领奖</label>
            <div class="layui-input-block">
                <?=$this->build_select('get_status', $get_status, [], [], true, true)?>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态：</label>
            <div class="layui-input-block">
                <?=$this->build_select('status', $status, [], [], true, true)?>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">获奖时间：</label>
            <div class="layui-input-block">
                <input type="text" name="create_time" placeholder="搜索操作时间" class="layui-input date-range"
                    autocomplete="off">
            </div>
        </div>
    </form>
</div>

<div class="layui-card">
    <div class="layui-card-body m-card-body">
        <!-- 表格 -->
        <table id="table" lay-filter="table"></table>
    </div>
</div>

<script type="text/html" id="toolbar">
    <?= $this->build_toolbar('/lottery/userGift', $uid, ['search', 'reset']); ?>
</script>

<!-- 操作 -->
<script type="text/html" id="operate">
    <div class="oper-btns">
        <?php if($this->checkAuth('/lottery/userGift/status', $uid)): ?>
        <!-- {{# if(d.status == '1'){ }} -->
        <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" data-idx="{{ d.id }}" data-url="<?=$this->url('/lottery/userGift/status')?>" data-title="确认取消该用户奖品【{{ d.title }}】么？" data-status="0" lay-event="confirm">取消用户奖品</button>
        <!-- {{# }else{ }} -->
        <button type="button" class="layui-btn layui-btn-warm layui-btn-xs" data-idx="{{ d.id }}" data-url="<?=$this->url('/lottery/userGift/status')?>" data-title="确认恢复该用户奖品【{{ d.title }}】么？" data-status="1" lay-event="confirm">恢复用户奖品</button>
        <!-- {{# } }} -->
        <?php endif; ?>
    </div>
</script>

<?php $this->block('js'); ?>
<script>
    layui.use(['util', 'mTable', 'mForm', 'common', 'userSelect'], function () {
        const util = layui.util
        const mTable = layui.mTable
        const mForm = layui.mForm
        const common = layui.common
        const userSelect = layui.userSelect
        const giftType = JSON.parse('<?=$giftType?>')

        // 搜索用户
        const searchUser = userSelect.render('#user-select', "<?=$this->url('/ucenter/getUser')?>")
        // 渲染搜索表单
        mForm.render()
        // 渲染表格
        mTable.render({
            elem: '#table',
            url: "<?=$this->url('/lottery/userGift')?>" + '?isApi=1',
            cols: [[
                { title: 'ID', field: 'id', width: 80, align: 'center' },
                { title: '用户', field: 'uid', width: 160, align: 'center', templet: d => `<a lay-on="user-tips" class="mon-link" data-mobile="${d.u_mobile}" data-email="${d.u_email}" data-uid="${d.uid}">${d.u_nickname}</a>` },
                { title: '抽奖活动', field: 'round_id', width: 200, align: 'center', templet: d => `<a lay-on="round-tips" class="mon-link" data-round="${d.round_id}">${d.r_title}</a>` },
                { title: '抽奖号码', field: 'probability_id', width: 100, align: 'center' },
                { field: 'probability_gift_id', title: '中奖奖品', width: 200, align: 'center', templet: (d) => `<a lay-on="gift-tips" class="mon-link" data-type="${d.type}" data-img="${d.img}" data-id="${d.probability_gift_id}">${d.title}</a>` },
                { title: '是否领取', field: 'get_status', width: 90, align: 'center', templet: d => mTable.format.statusIcon(d.get_status) },
                { title: '领取时间', field: 'get_time', width: 168, align: 'center', templet: d => mTable.format.dateTime(d.get_time) },
                { title: '状态', field: 'status', width: 100, align: 'center', templet: function (d) { return mTable.format.status(d.status) } },
                { title: '获奖时间', field: 'create_time', width: 168, align: 'center', templet: d => mTable.format.dateTime(d.create_time) },
                { field: 'operate', title: '操作', templet: '#operate', minWidth: 120, fixed: 'right' }
            ]]
        })
        // 绑定表格事件
        mTable.bindEvent('table', {
            toolbar: {
                // 搜索按钮
                search: function (data, reset) {
                    // 重置
                    if (reset) {
                        searchUser.setValue([])
                        return data
                    }
                    if (data.create_time) {
                        let iCreate = data.create_time.split(' - ')
                        data.start_time = common.strtotime(iCreate[0] + ' 00:00:00')
                        data.end_time = common.strtotime(iCreate[1] + ' 23:59:59')
                    }

                    return data
                },
            }
        })
        // 详情查看
        util.on('lay-on', {
            'user-tips': function () {
                let data = this.dataset
                let tips = `用户ID：${data.uid} <br/> 手机号：${data.mobile} <br/> 邮 箱：${data.email}`
                layer.tips(tips, this, { tips: 1, time: 2000 })
            },
            'round-tips': function () {
                let data = this.dataset
                let tips = `活动ID：${data.round}`
                layer.tips(tips, this, { tips: 1, time: 2000 })
            },
            // 奖品详情
            'gift-tips': function (d) {
                let data = this.dataset
                const type = giftType[data.type] || ''
                let tips = `奖品ID：${data.id}<br/>类 型：${type}<br/><img src="${data.img}" width="60" height="60" lay-on="img-preview" style="margin-top: 8px;">`
                layer.tips(tips, this, { tips: 1, time: 2500 })
            }
        })
    })
</script>
<?php $this->blockEnd(); ?>