<?php $this->layout('page'); ?>

<div class="layui-card">
    <div class="layui-card-body">
        <form class="layui-form" action="" method="post">
            <!-- <input type="hidden" name="round_ids" value=""> -->
            <input type="hidden" name="idx" value="<?=$data['id']?>">
            <input type="hidden" name="uid" value="<?=$data['uid']?>">
            <div class="layui-form-item">
                <label class="layui-form-label">用户</label>
                <div class="layui-input-block">
                    <input type="text" class="layui-input" readonly value="<?=$data['nickname'] . ' #' . $data['id']?>">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">有效期</label>
                <div class="layui-inline" id="effective_time">
                    <div class="layui-input-inline">
                        <input type="text" name="effective_start_time" id="start_time" class="layui-input"
                            placeholder="有效期开始时间"
                            value="<?=$data['start_time'] ? date('Y-m-d H:i:s', $data['start_time']) : ''?>">
                    </div>
                    <div class="layui-form-mid">-</div>
                    <div class="layui-input-inline">
                        <input type="text" name="effective_end_time" id="end_time" class="layui-input"
                            placeholder=" 有效期结束时间"
                            value="<?=$data['end_time'] ? date('Y-m-d H:i:s', $data['end_time']) : ''?>">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <?= $this->build_radios('status', $status, $data['status'], [], true); ?>
                </div>
            </div>

            <div class="layui-form-item layer-footer hidden">
                <div class="layui-input-block text-left">
                    <button class="layui-btn layui-btn-sm layui-btn-success" lay-submit
                        lay-filter="submit">确认提交</button>
                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<?php $this->block('js'); ?>
<script>
    layui.use(['laydate', 'mForm'], function () {
        const laydate = layui.laydate
        const mForm = layui.mForm
        // 有效期
        laydate.render({
            elem: '#effective_time',
            type: 'datetime',
            range: ['#start_time', '#end_time'],
            rangeLinked: true,
            format: 'yyyy-MM-dd HH:mm:ss',
            calendar: true,
        })
        // 渲染表单
        mForm.render()
        mForm.submit('submit', null, null, (form) => {
            let start_time = form.field.effective_start_time ? Math.ceil((new Date(form.field.effective_start_time)).getTime() / 1000) : 0
            let end_time = form.field.effective_end_time ? Math.ceil((new Date(form.field.effective_end_time)).getTime() / 1000) : 0
            if (start_time && end_time) {
                return { start_time, end_time }
            }

            return { start_time: 0, end_time: 0 }
        })
    })
</script>
<?php $this->blockEnd(); ?>